.input-container {
	display: flex;
	gap: 16px;
	margin: 16px auto;
}

label {
	margin: 32px 0 0 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

input {
	width: 100%;
	height: 48px;
	border: 1px solid var(--col-black);
	outline: var(--col-black);
	border-radius: 8px;
	font-size: 20px;
	padding: 0 16px;
	position: relative;

	&::after {
		content: attr(data-label);
		display: block;
		position: absolute;
		top: -16px;
		left: 0;
		width: 100%;
	}

	&:focus {
		border: 2px solid var(--col-primary-dark);
		outline: var(--col-primary-dark);
	}
}

.input-pair {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

@media screen and (max-width: 1280px) {
	.input-container {
		flex-direction: column;
		gap: 16px;
		margin: 32px 0;
	}

	label {
		margin: 0;
	}
}