.partners {
	position: relative;
	margin-bottom: 192px;
}

.partners-marquee {
	position: absolute;
	left: -100%;
	background-image: url(images/partner-logos.svg);
	width: 400%;
	height: 128px;
	animation: partners-marquee-scroll 10s linear infinite;
	rotate: 3deg;
	margin-top: 32px;
	scale: 1.25;
	filter: blur(0.25px);
}

@keyframes partners-marquee-scroll {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -1512px;
	}
}