.partners {
	position: relative;
	margin-bottom: 192px;
}

.partners-marquee {
	position: absolute;
	background-image: url(images/partner-logos.svg);
	width: 6048px;
	height: 128px;
	animation: partners-marquee-scroll 20s linear infinite;
	rotate: 3deg;
	margin-top: 160px;
	scale: 1.25;
}

@keyframes partners-marquee-scroll {
	0% {
		transform: translateX(-1512px);
	}
	100% {
		transform: translateX(-3024px);
	}
}