body {
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 32px;
}

h3 {
	position: relative;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	overflow: visible;
	margin-bottom: 48px;
	min-width: 170px;
}

a {
	color: var(--col-secondary-dark);
	text-decoration: none;

	&:hover {
		color: var(--col-white);
		background-color: var(--col-secondary-dark);
	}
}

@media screen and (max-width: 1280px) {
	body {
		font-size: 16px;
	}
}

span.emphasis {
	color: var(--col-secondary-dark);
	font-weight: 700;
}

span.larger {
	font-size: 28px;
}
